# Exclude everything in the data folder
data/

# Exclude everything in the inputs folder
inputs/

# Exclude everything in the figures folder
figures/

# Exclude older code that I want to keep just in case
old_code